.advantages {
  padding: 0 20.5px;
  margin-bottom: 49px;

  @media (min-width: @tablet-width) {
    padding: 0 30px;
  }

  @media (min-width: @desktop-width) {
    padding: 0 110px;
  }
}

.advantages__text {
  .font();
  font-size: 36px;
  line-height: 40px;
  margin-bottom: 40px;
}

.advantages__list {
  list-style: none;
  display: grid;
  gap: 20px;

  @media (min-width: @tablet-width) {
    grid-template-columns: 1fr 1fr;
  }

  @media (min-width: @desktop-width) {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

.advantages__item {
  width: 100%;
  max-width: 280px;
  height: 100%;
  padding-left: 80px;
  color: #444444;
  position: relative;
}

.advantages__item--leaf::before {
  .advantages__item-before();
  background-image: url("../img/leaf.svg");
}

.advantages__item--tub::before {
  .advantages__item-before();
  background-image: url("../img/tub.svg");
}

.advantages__item--eat::before {
  .advantages__item-before();
  background-image: url("../img/eat.svg");
}

.advantages__item--alarm::before {
  .advantages__item-before();
  background-image: url("../img/alarm.svg");
}
