.example {
  background-color: #eaeaea;
}

.example__title {
  .font();
  font-size: 36px;
  line-height: 40px;
}

.example__desc {
  color: #444444;
}

.example__table-data {
  .font();
  font-size: 24px;
  line-height: 24px;
}

.example__text {
  .font();
  font-size: 14px;
  line-height: 20px;
}
