.footer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;

  &--catalog {
    background-color: #f2f2f2;
  }

  &::after {
    content: "";
    width: 100%;
    min-height: 240px;
    background-color: #f2f2f2;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: -1;

    @media (min-width: @tablet-width) {
      min-height: 147px;
    }
  }

  @media (min-width: @desktop-width) {
    position: relative;
  }
}

.footer__wrapper {
  .wrapper();
  display: flex;
  justify-content: space-between;
  padding-bottom: 26px;
  padding-top: 26px;
  align-items: center;

  @media (min-width: @tablet-width) {
    min-height: 199px;
    padding: 0 70px;
  }

  @media (min-width: @desktop-width) {
    padding: 0 82px;
    position: absolute;
    max-width: 565px;
    left: calc(50% - 611px);
    top: 93px;
    background-color: #ffffff;
  }
}

.footer__container {
  .wrapper();

  @media (min-width: @tablet-width) {
    width: 100%;
    min-height: 147px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.footer__logo {
  display: block;
  text-align: center;
  padding: 40px 0 26px;

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.3;
  }

  @media (min-width: @tablet-width) {
    padding: 0;
    width: 162px;
    text-align: left;
  }
}

.footer__text {
  padding: 0;
  margin: 0;
  .font();
  font-size: 16px;
  line-height: 20px;
  max-width: 139px;
  text-transform: uppercase;


  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 26px;
    max-width: 172px;
  }

  @media (min-width: @desktop-width) {
    max-width: 163px;
  }
}

.footer__address {
  font-size: 14px;
  line-height: 20px;
  font-style: normal;
  max-width: 139px;

  @media (min-width: @tablet-width) {
    font-size: 16px;
    max-width: 160px;
    text-align: right;
  }

  @media (min-width: @desktop-width) {
    max-width: 155px;
    text-align: left;
  }
}

.footer__address-extra {
  @media (min-width: @tablet-width) {
    padding-top: 22px;
    display: block;
  }

  @media (min-width: @desktop-width) {
    padding-top: 17px;
  }
}

.footer iframe {
  border: none;
  width: 100%;

  @media (min-width: @tablet-width) {
    height: 400px;
  }
}
