.form {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.form__filter-title {
  .font();
  font-size: 14px;
  line-height: 18px;
}

.form__filter-label {
  .font();
  font-size: 16px;
  line-height: 18px;
  color: #444444;
  text-transform: uppercase;
}

.form__button {
  .button();
  padding: 7px 44px;
}
