.main-form {
  .wrapper();
  padding-bottom: 32px;

  @media (min-width: @tablet-width) {
    padding-bottom: 72px;
  }

  @media (min-width: @desktop-width) {
    padding-bottom: 82px;
  }
}

.main-form__title {
  .font();
  font-size: 36px;
  line-height: 36px;
  margin-bottom: 37px;
}
