.result {
  display: flex;
}

.result__list {
  list-style: none;
}

.result__item {
  background-color: #f2f2f2;
}

.result__subject {
  .font();
  font-size: 24px;
  line-height: 37px;
}

.result__text {
  color: #444444;
}

.result__link {
  .font();
  font-size: 16px;
  line-height: 16px;
  color: #000000;
  text-decoration: none;
}
