.button() {
  font-family: "Oswald", sans-serif;
  font-weight: 100;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  background-color: #68b738;
  color: #ffffff;
  border: none;
  text-transform: uppercase;
  cursor: pointer;
}

.font() {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
}

.font500() {
  font-family: "Oswald", sans-serif;
  font-weight: 500;
}

.advantages__item-before() {
  content: "";
  height: 60px;
  width: 60px;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #68b738;
  position: absolute;
  left: 0;
}

.wrapper() {
  width: 100%;
  max-width: 320px;
  padding: 0 20px;

  @media (min-width: @tablet-width) {
    padding: 0 30px;
    max-width: 768px;
  }

  @media (min-width: @desktop-width) {
    padding: 0 110px;
    max-width: 1440px;
  }
}
